In [5]:
fruits=["apple","banana","cheery","banana"]
for i in fruits:
    if i=="banana":
        continue
    print(i)

apple
cheery

In [6]:
fruits=["apple","banana","cheery","banana"]
for i in fruits:
    if i=="cheery":
        continue
    print(i)

apple
banana
banana

In [7]:
fruits=["apple","banana","cheery","banana"]
for i in fruits:
    print(i)
    if i=="banana":
        continue

apple
banana
cheery
banana

In [10]:
fruits=["apple","banana","cheery","banana"]
for i in fruits:
    print(i)
    if i=="banana":
        continue # skip next code
    print("AIS")

apple
AIS
banana
cheery
AIS
banana

In [13]:
fruits=["apple","banana","cheery","banana"]
for i in fruits:
    if i=="banana":
        pass
        print("........yellow")
    print(i)

apple
........yellow
banana
cheery
........yellow
banana

In [ ]:

#user defined function
print(),len(),range(),sum(),min(),max(),

In [14]:
def add(a,b):
    print(a+b)

In [15]:
add(10,6)

16

In [18]:
add(100,89)

189

In [22]:
def sq(n):
    ans=n*n
    print(ans)

In [23]:
sq(45)

2025

In [24]:
def sub(a,b):
    print(a-b)

In [25]:
sub(16,4)

12

In [32]:
def mult(a,b,c):
    print(a*b*c)

In [33]:
mult(3,7,6)

126

In [28]:
def pow(a,n):
    print(a**n)

In [29]:
pow(2,3)

8

In [30]:
pow(5,4)

625

In [31]:
pow(7,5)

16807

In [1]:
def cube(a,b):
    print(a**2)

In [2]:
cube(4,2)

16

In [5]:
def math(a,b):
    print(a+b)
    print(a-b)
    print(a*b)
    print(a/b)

In [6]:
math(10,20)

30
-10
200
0.5

In [11]:
# Python program to get average of a list
def Average(lst):
    return sum(lst) / len(lst)
 
# Driver Code
lst = [15, 9, 55, 41, 35, 20, 62, 49]
average = Average(lst)
 
#
print("Average of the list =", round(average, 2))

Average of the list = 35.75

In [14]:
def mean(a,b,c,d,e):
    m=(a+b+c+d+e)/5
    print(m)

In [15]:
mean(1,2,3,4,5)

3.0

In [20]:
def newmean(*para):
    m=sum(para)/len(para)
    print(para)
    print(type(para))
    print(m)

In [21]:
newmean(1,29,56)

(1, 29, 56)
<class 'tuple'>
28.666666666666668

In [22]:
def  add(*arg):
    print(sum(arg))

In [23]:
add(4,6,7,8,9)

34

In [24]:
# user define function # one line command

In [34]:
def add(a,b):
    print(a+b)


add1=lambda a,b:  a+b
add1(4,4)

8

In [38]:
l=[1,56,5,48,3,2,6,24]
new=[]
for x in l:
    if x<=20:
        new.append(x)
print(new)

[1, 5, 3, 2, 6]

In [40]:
filter( lambda x:x<20,l)

In [41]:
list(filter(lambda x:x<20,l))  # filter camprsion  opertions

[1, 5, 3, 2, 6]

In [42]:
list(map(lambda x:x+2,l))       # map arthimatic opertion

[3, 58, 7, 50, 5, 4, 8, 26]

In [43]:
list(map(lambda x:x*2,l))

[2, 112, 10, 96, 6, 4, 12, 48]

In [44]:
"my name is {} ,my age is {}".format("AIS",5)  #when where chanage value then we used format function

'my name is AIS ,my age is 5'

In [45]:
"my name is {s} ,my age is {n}".format(n=4,s="AIS")

'my name is AIS ,my age is 4'

In [46]:
def add(a,b):
    print(a+b)

In [47]:
def add1(a,b):
    return a+b

In [48]:
add(3,8)

11

In [49]:
add1(3,8)

11

In [50]:
add(3,8)+6

11

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [51]:
add1(3,8)+6

17