In [1]:
a=5
b=-5
c=a+b
c

0

In [2]:
a=5
b=-5
c=a-b
c

10

In [3]:
a=5
b=-5
x=a/b
x

-1.0

In [4]:
a=5
b=-5
x=a*b
x

-25

In [5]:
m=10
n=9
m>n

True

In [6]:
m=10
n=9
m<n

False

In [7]:
m=10
n=9
m!=n

True

In [8]:
m=10
n=9
m==n

False

In [9]:
l=[23,501,"pune",(1,2,3),2.1,["python"+"program"]]

In [10]:
l

[23, 501, 'pune', (1, 2, 3), 2.1, ['pythonprogram']]

In [11]:
l[5]

['pythonprogram']

In [12]:
l[1]

501

In [13]:
l[2:5]

['pune', (1, 2, 3), 2.1]

In [14]:
l.remove("pune")

In [15]:
l

[23, 501, (1, 2, 3), 2.1, ['pythonprogram']]

In [16]:
l.insert(2,"Baramati")
l

[23, 501, 'Baramati', (1, 2, 3), 2.1, ['pythonprogram']]

In [17]:
l.append("TCC")
l

[23, 501, 'Baramati', (1, 2, 3), 2.1, ['pythonprogram'], 'TCC']

In [18]:
l.pop(3)
l

[23, 501, 'Baramati', 2.1, ['pythonprogram'], 'TCC']

In [19]:
l.insert(2,(1,2,3))
l

[23, 501, (1, 2, 3), 'Baramati', 2.1, ['pythonprogram'], 'TCC']

In [20]:
l.clear()

In [21]:
l

[]

In [22]:
####
t=(1,9,4,6,2)

In [23]:
t[2:]

(4, 6, 2)

In [24]:
t[0:3]

(1, 9, 4)

In [25]:
x=("a","b","c","d")
x

('a', 'b', 'c', 'd')

In [26]:
list(x)

['a', 'b', 'c', 'd']

In [27]:
a=['hallway',11.25,'kitchen',18.0,'living room',20.0,'bedroom',10.75.'bathroom',9.50]

SyntaxError: invalid syntax (<ipython-input-27-e82234d9592d>, line 1)

In [28]:
sample_data={
    'item1':45.50,'item2':35,'item3':41.30,'item4':55,
    'item5':24
}

In [29]:
sample_data

{'item1': 45.5, 'item2': 35, 'item3': 41.3, 'item4': 55, 'item5': 24}

In [30]:
sample_data.get('item2')

35

In [31]:
sample_data.keys()

dict_keys(['item1', 'item2', 'item3', 'item4', 'item5'])

In [32]:
sample_data.values()

dict_values([45.5, 35, 41.3, 55, 24])

In [33]:
sample_data.update({'item4':100})

sample_data

In [34]:
sample_data

{'item1': 45.5, 'item2': 35, 'item3': 41.3, 'item4': 100, 'item5': 24}

In [35]:
d={'hallway':11.25,
   'kitchen':18.0,
   'living room':20.0,
   'bedroom':10.75,
   "bathroom":9.50}

In [36]:
d

{'hallway': 11.25,
 'kitchen': 18.0,
 'living room': 20.0,
 'bedroom': 10.75,
 'bathroom': 9.5}

In [37]:
d.update({"bathroom":10})

In [38]:
d

{'hallway': 11.25,
 'kitchen': 18.0,
 'living room': 20.0,
 'bedroom': 10.75,
 'bathroom': 10}

In [39]:
d.items()

dict_items([('hallway', 11.25), ('kitchen', 18.0), ('living room', 20.0), ('bedroom', 10.75), ('bathroom', 10)])

In [83]:
d.update({"living room":"chill zone"})

In [84]:
d.clear()

In [85]:
d

{}

In [43]:
a={"apple","banana","orange"}
b={"BMW","i20","KTM"}

In [44]:
a.add("papaya")

In [45]:
a

{'apple', 'banana', 'orange', 'papaya'}

In [46]:
b.add("Ns")
b.remove("i20")
b

{'BMW', 'KTM', 'Ns'}

In [47]:
a.remove('banana')

In [48]:
a

{'apple', 'orange', 'papaya'}

In [49]:
#set is  unordered
#        unindexed
  #  unchangeable
    #but remove and add items in set

In [50]:
l1=["sacheen","anil","virat","Devdatt"]

In [51]:
#  
l1

['sacheen', 'anil', 'virat', 'Devdatt']

In [52]:
l1.append("vishu")

In [53]:
l1

['sacheen', 'anil', 'virat', 'Devdatt', 'vishu']

In [54]:
l1.clear()

In [55]:
l1

[]

In [56]:
l1=["car","mango","tv","song"]
l1

['car', 'mango', 'tv', 'song']

In [57]:
l1.insert(3,"papaya")
l1

['car', 'mango', 'tv', 'papaya', 'song']

In [58]:
l1.sort()

In [59]:
l1

['car', 'mango', 'papaya', 'song', 'tv']

In [60]:
l1.remove('tv')
l1

['car', 'mango', 'papaya', 'song']

In [61]:
l1.pop()

'song'

In [62]:
l1.index("mango")

1

In [63]:
l1.extend("lemon")
l1

['car', 'mango', 'papaya', 'l', 'e', 'm', 'o', 'n']

In [64]:
l1.extend("le")

In [65]:
l1

['car', 'mango', 'papaya', 'l', 'e', 'm', 'o', 'n', 'l', 'e']

In [66]:
# create a tuple
t1=("Keerti","arpita","divya","sarita")
t1

('Keerti', 'arpita', 'divya', 'sarita')

In [67]:
len(t1)

4

In [68]:
t1[:2]

('Keerti', 'arpita')

In [69]:
t1[3]

'sarita'

In [70]:
t1.count("arpita")

1

In [71]:
t1.index("divya")

2

In [72]:
# tuples unchangeable and immutable

In [73]:
d1={
    "brand":"ford",
    "model":"MG",
    "year":2003
}

In [74]:
d1

{'brand': 'ford', 'model': 'MG', 'year': 2003}

In [75]:
d1.get("brand")

'ford'

In [76]:
d1.items()

dict_items([('brand', 'ford'), ('model', 'MG'), ('year', 2003)])

In [77]:
d1.keys()

dict_keys(['brand', 'model', 'year'])

In [78]:
d1.values()

dict_values(['ford', 'MG', 2003])

In [79]:
d1.pop('model')

'MG'

In [80]:
d1.popitem()

('year', 2003)

In [81]:
d1.update({"brand": "tata suv"})
d1

{'brand': 'tata suv'}

In [82]:
d1

{'brand': 'tata suv'}

In [ ]:
# variable declarations rules:
    # variable name start with a letter and underscore
    # variable name cannot start with number
    # variable alphanumeric character and underscores
    # variable name is case-sensitive

In [86]:
D1={"name":["Rohit","sumit","Dhaval"],"age":[67,62,34],"hobby":["travelling","reading","cooking"]}
D1

{'name': ['Rohit', 'sumit', 'Dhaval'],
 'age': [67, 62, 34],
 'hobby': ['travelling', 'reading', 'cooking']}

In [87]:
D1["fav food"]=["maharastrian","chinese","Punjabi"]
D1

{'name': ['Rohit', 'sumit', 'Dhaval'],
 'age': [67, 62, 34],
 'hobby': ['travelling', 'reading', 'cooking'],
 'fav food': ['maharastrian', 'chinese', 'Punjabi']}

In [88]:
D1["fav food"]=["maharastrian","chinese","chinese"]
D1

{'name': ['Rohit', 'sumit', 'Dhaval'],
 'age': [67, 62, 34],
 'hobby': ['travelling', 'reading', 'cooking'],
 'fav food': ['maharastrian', 'chinese', 'chinese']}

In [89]:
D1.update({"fav food":"italian"})
D1

{'name': ['Rohit', 'sumit', 'Dhaval'],
 'age': [67, 62, 34],
 'hobby': ['travelling', 'reading', 'cooking'],
 'fav food': 'italian'}

In [93]:
import pandas as pd
pd.DataFrame(D1)

     name  age       hobby fav food
0   Rohit   67  travelling  italian
1   sumit   62     reading  italian
2  Dhaval   34     cooking  italian