In [4]:
s=["rashmi","arpita","goa","trip"]
print(type(s))

<class 'list'>

In [5]:
s=["key","schol","don","sun","moon"]
s.append("gk")
print(s)

['key', 'schol', 'don', 'sun', 'moon', 'gk']

In [6]:
name="sacheen"
ab=name[:-2]
print(ab)

sache

In [7]:
name="sacheen"
ab=name[:-2]
s=ab+"san"
print(ab)

sache

In [8]:
name=["keerti","nikita","shree","disha"]
for x in name:
    for y in x:
        print(y)

k
e
e
r
t
i
n
i
k
i
t
a
s
h
r
e
e
d
i
s
h
a

In [9]:
a=["sanu","saru","teju","sanju"]
for x in a:
    for y in x:
        print("machine learning")

machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning

In [10]:
H=["satisha","sacheen","anil","vrushba","shital"]
for x in H:
    print(x)

satisha
sacheen
anil
vrushba
shital

In [11]:
h=["chaitra","keerti","pinki","ravati","sonu"]
for x in h:
    print(x)

chaitra
keerti
pinki
ravati
sonu

In [12]:
ab=H+h
print(ab)

['satisha', 'sacheen', 'anil', 'vrushba', 'shital', 'chaitra', 'keerti', 'pinki', 'ravati', 'sonu']

In [13]:
H=["satisha","sacheen","anil","vrushba","shital"]
h=["chaitra","keerti","pinki","ravati","sonu"]
print(H[0],h[0])

satisha chaitra

In [14]:
H=["satisha","sacheen","anil","vrushba","shital"]
h=["chaitra","keerti","pinki","ravati","sonu"]
for x in range(5):
    print(H[x],h[x])

satisha chaitra
sacheen keerti
anil pinki
vrushba ravati
shital sonu

In [15]:
H=["satisha","sacheen","anil","vrushba","shital"]
for x in H:
    ab=x[-3]
    break
print(ab)

s

In [16]:
H=["satisha","sacheen","anil","vrushba","shital"]
for x in H:
    ab=x[-3]
    print(ab)

s
e
n
h
t

In [17]:
H=["satisha","sacheen","anil","vrushba","shital"]
for x in H:
    ab=x[:-3]
    s=ab+ "good"
    print(ab,s)

sati satigood
sach sachgood
a agood
vrus vrusgood
shi shigood

In [1]:
for x in range(5):
    ab=input("name:")

name:
name:
name:
name:
name:

In [2]:
fruits=[]
for  x in range(5):
    name=input("enter the fruits name:")
    fruits.append(name)
print(fruits)

enter the fruits name:
enter the fruits name:
enter the fruits name:
enter the fruits name:
enter the fruits name:
['', '', '', '', '']

In [3]:
for  x in range(5):
    name=input("enter the fruits name:")
    fruits.append(name)
print(fruits)

enter the fruits name:
enter the fruits name:
enter the fruits name:
enter the fruits name:
enter the fruits name:
['', '', '', '', '', '', '', '', '', '']

In [4]:
c=[]
c=fruits
for  x in range(5):
    name=input("enter the fruits name:")
    fruits.append(name)
print(fruits)

enter the fruits name:
enter the fruits name:
enter the fruits name:
enter the fruits name:
enter the fruits name:
['', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [5]:
c=[]
for  x in range(5):
    name=input("enter the fruits name:")
    c.append(name)
    print(c)

enter the fruits name:
['']
enter the fruits name:
['', '']
enter the fruits name:
['', '', '']
enter the fruits name:
['', '', '', '']
enter the fruits name:
['', '', '', '', '']

In [6]:
fruits=[]
for  x in range(5):
    name=input("enter the fruits name:")
    fruits.append(name)
print(fruits)

enter the fruits name:
enter the fruits name:
enter the fruits name:
enter the fruits name:
enter the fruits name:
['', '', '', '', '']

In [9]:
fruits=[]
for  x in range(5):
    name=input("enter the fruits name:")
    fruits.append(name)

enter the fruits name:k
enter the fruits name:kl
enter the fruits name:kl
enter the fruits name:uk
enter the fruits name:hk

In [10]:
print(fruits)

['k', 'kl', 'kl', 'uk', 'hk']

In [11]:
fruits.remove("hk")

In [12]:
print(fruits)

['k', 'kl', 'kl', 'uk']

In [13]:
fruits.pop()

'uk'

In [14]:
fruits.pop()

'kl'

In [15]:
fruits.pop()

'kl'

In [16]:
print(fruits)

['k']

In [20]:
fruits.append("hk")

In [25]:
for x in range(4):
    for y in range(2):
        print(x,y)

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1

In [26]:
for x in range(4):
    print(x)

0
1
2
3

In [27]:
for y in range(2):
        print(y)

0
1

In [28]:
for x in range(4):
    for y in range(2):
        print("data")

data
data
data
data
data
data
data
data

In [30]:
for y in range(2):
    for x in range(4):
            print(y,x)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3

In [31]:
for x in range(2):
    for y in range(3):
        for z in range(4):
            print(x,y,z)

0 0 0
0 0 1
0 0 2
0 0 3
0 1 0
0 1 1
0 1 2
0 1 3
0 2 0
0 2 1
0 2 2
0 2 3
1 0 0
1 0 1
1 0 2
1 0 3
1 1 0
1 1 1
1 1 2
1 1 3
1 2 0
1 2 1
1 2 2
1 2 3

In [35]:
for x in 'name':
    for y in "str":
        for z in "sk":
            print("home :",x,y,z)

home : n s s
home : n s k
home : n t s
home : n t k
home : n r s
home : n r k
home : a s s
home : a s k
home : a t s
home : a t k
home : a r s
home : a r k
home : m s s
home : m s k
home : m t s
home : m t k
home : m r s
home : m r k
home : e s s
home : e s k
home : e t s
home : e t k
home : e r s
home : e r k

In [ ]:
h=[]
for  x in range(5):
    ab=input("enter the student name :")
    h.append(ab)
    if name=="sacheen"

In [1]:
h=[]
marks=[]
for x in range(5):
    ab=input("enter the student name :")
    h.append(ab)
    if ab=="sacheen":
        for y in range(5):
            g=int(input("enter the marks:"))
            marks.append(g)
        break

print(h)
print(marks)

enter the student name :hj
enter the student name :kj
enter the student name :sacheen
enter the marks:67
enter the marks:98
enter the marks:56
enter the marks:77
enter the marks:98
['hj', 'kj', 'sacheen']
[67, 98, 56, 77, 98]

In [2]:
h=[]
marks=[]
for x in range(5):
    ab=input("enter the student name :")
    h.append(ab)
    if ab=="sacheen":
        for y in range(5):
            g=int(input("enter the  marks:"))
            marks.append(g)
        break

print(h)
print(marks)

enter the student name :arpita
enter the student name :sucheta
enter the student name :keerti
enter the student name :saki
enter the student name :sacheen
enter the marks:80
enter the marks:89
enter the marks:47
enter the marks:23
enter the marks:4
['arpita', 'sucheta', 'keerti', 'saki', 'sacheen']
[80, 89, 47, 23, 4]

In [4]:
a=int(input("enter the marks"))
if a>=75:
    print("destination")
elif a<75 and a>=35:
    print("pass")
else:
    print("fail")

enter the marks56
pass

In [2]:
for x in range(4):
    a=int(input("enter the marks"))
    if a>=75:
        print("destination")
    elif a<75 and a>=35:
        print("pass")
    else:
        print("fail")

enter the marks67
pass
enter the marks78
destination
enter the marks23
fail
enter the marks43
pass


for x in range(5):
    a=int(input("enter the marks:"))
    marks.append(a)
    print("marks")

In [1]:
mark=[]
for x in range(5):
    a=int(input("enter the marks :"))
    mark.append(a)
    print(mark)

enter the marks :78
[78]
enter the marks :56
[78, 56]
enter the marks :67
[78, 56, 67]
enter the marks :78
[78, 56, 67, 78]
enter the marks :78
[78, 56, 67, 78, 78]

In [2]:
ab=sum(mark)

In [3]:
print(ab)

357

In [4]:
avg=ab/5
print(avg)

71.4

In [5]:
if avg>=35 and avg<=75:
    print("pass")
elif avg>75:
    print("destination")
else:
    print("fail")

pass

In [2]:
mark=[]
for x in range(5):
    a=int(input("Enter the marks: "))
    mark.append(a)
    total=sum(mark)
    avg=total/len(mark)
    
print(mark)
print(total)
print(avg)
if avg<35:
    print("Fail")
else:
    print("Pass")

Enter the marks: 67
Enter the marks: 87
Enter the marks: 77
Enter the marks: 89
Enter the marks: 99
[67, 87, 77, 89, 99]
419
83.8
Pass

In [8]:
a=10
if a>=10:
    print("even")

even

In [9]:
a=45
if a<50:
    print("small")

small

In [10]:
a=int(input("enter the number"))
if a<10 and a>=20:
    print("small")

enter the number34

In [1]:
for x in range(5):
    a=int(input("enter the number:"))
    if a>10 and a<=20:
        print("small")
    else:
        print("big")

enter the number:7
big
enter the number:12
small
enter the number:56
big
enter the number:20
small
enter the number:18
small

In [6]:
a=int(input("enter the number"))
b=int(input("enter the number"))
c=int(input("enter the number"))
d=int(input("enter the number"))
if(a>b and a>c and a>c):
    print("greater no is :",a)
elif(b>c and b>d):
    print("greater no is :",b)
elif(c>d):
    print("greater no is :",c)
else:
     print("greater no is :",d)

enter the number67
enter the number34
enter the number56
enter the number23
greater no is : 67

In [2]:
a=int(input("enter the number"))
if a>100 and a<=200:
    print("sm")
else:
    print("kl")

enter the number67
kl

In [4]:
for x in range(4):
    a=int(input("enter the number"))
    if a>100 and a<=200:
        print("sm")
    else:
        print("kl")

enter the number78
kl
enter the number102
sm
enter the number67
kl
enter the number189
sm

for x in range(3):

In [1]:
for x in range(3):
    a=int(input("enter the number"))
    if a>=75 and a<=100:
        print("destination")
    elif a>=35:
        print("pass")
    else:
        print("fail")

enter the number78
destination
enter the number45
pass
enter the number23
fail

In [1]:
for x in range(4):
    a=int(input("enter the number:  %"))
    if a>=35 and a<=75:
        print("mai pass hoya",a,"%")
    elif a<35:
        print("mai fail hoya",a,"%")
    else:
        print("mai destinated",a,"%")

enter the number %78
mai destinated 78 %
enter the number %45
mai pass hoya 45 %
enter the number %9
mai fail hoya 9 %
enter the number %456
mai destinated 456 %

In [2]:
for x in range(4):
    a=int(input("enter the number %"))
    if a>=35 and a<=75:
        for x in range(3):
            print("mai pass hoya",a,"%")
    elif a<35:
        for x in range(2):
            print("mai fail hoya",a,"%")
    else:
        print("mai destinated",a,"%")

enter the number %34
mai fail hoya 34 %
mai fail hoya 34 %
enter the number %13
mai fail hoya 13 %
mai fail hoya 13 %
enter the number %78
mai destinated 78 %
enter the number %67
mai pass hoya 67 %
mai pass hoya 67 %
mai pass hoya 67 %

In [4]:
k=[]
for x in range(3):
    name=input("enter the names:")
    k.append(name)
    print(k)

enter the names:uk
['uk']
enter the names:ol
['uk', 'ol']
enter the names:sf
['uk', 'ol', 'sf']

In [6]:
k

['uk', 'ol', 'sf']

In [7]:
k.pop()

'sf'

In [8]:
k

['uk', 'ol']

In [19]:
k.insert(3,"yk")

In [20]:
k

['uk', 'ol', 'yk']

In [21]:
k.remove("yk")
k

['uk', 'ol']

In [23]:
a=[18,67,89,83]
ab=sum(a)
avg=ab/len(a)
print(ab)
print(avg)

257
64.25

In [24]:
a=[18,87,98,67,78]
for x in a:
    print(x)

18
87
98
67
78

In [17]:
a=[18,78,34,67]
for x in a:
    ab=a.index(x)
    if ab==-2:
        print("yes",ab,x)
    else:
        print("no",ab,x)

no 0 18
no 1 78
no 2 34
no 3 67

In [16]:
name=["keerti","Vijay","pratika","Kp","Rohan"]
for x in name:
    ab=name.index(x)
    if ab==3:
        print("yes",ab)
    else:
        print("no",ab)

no 0
no 1
no 2
yes 3
no 4

In [1]:
a=[18,78,34,67]
for x in a:
    ab=a.index(x)
    if ab==-1:
        print("yes",ab,x)
    else:
        print("no",ab,x)

no 0 18
no 1 78
no 2 34
no 3 67

In [5]:
name=["keerti","Vijay","pratika","Kp","Rohan"]

for x in name:
    ab=name.index(x)
    if ab==-3:
        print("yes",ab,x)
    else:
        print("no",ab,x)
print(ab)

no 0 keerti
no 1 Vijay
no 2 pratika
no 3 Kp
no 4 Rohan
4

In [6]:
name=["sacheen","anil","siddu","shital","vrushba"]
for x in name:
    ab=name.index(x)
    if ab==2:
        if ab%2==0:
            print("yes",ab,x)
        else:
            print(" i am odd",ab,x)

yes 2 siddu

In [24]:
name=["sacheen","anil","siddu","shital","vrushba"]
for x in name:
    ab=name.index(x)
    
    if ab%2==0:
        print("yes",ab,x)
    else:
        print(" i am odd",ab,x)

yes 0 sacheen
 i am odd 1 anil
yes 2 siddu
 i am odd 3 shital
yes 4 vrushba

In [31]:
name=["sacheen","anil","siddu","shital","vrushba"]
for x in name:
    v=len(name)
    if v%2==0:
        print("yes",x,v)
    else:
        print(" i am odd",x,v)
print(name)

 i am odd sacheen 5
 i am odd anil 5
 i am odd siddu 5
 i am odd shital 5
 i am odd vrushba 5
['sacheen', 'anil', 'siddu', 'shital', 'vrushba']

In [27]:
a="sacheen"
ab=len(a)
print(ab)

7

In [33]:
name=["sacheen","anil","siddu","shital","vrushba"]
for x in name:
    v=len(x)
    if v%2!=0:
        print("yes",x,v)
    else:
        print(" i am odd",x,v)
print(name)

yes sacheen 7
 i am odd anil 4
yes siddu 5
 i am odd shital 6
yes vrushba 7
['sacheen', 'anil', 'siddu', 'shital', 'vrushba']

In [34]:
name=["sacheen","anil","siddu","shital","vrushba"]
for x in name:
    v=len(name)
    if v%2!=0:
        print("yes",x,v,name)
    else:
        print(" i am odd",x,v,name)
print(name)

yes sacheen 5 ['sacheen', 'anil', 'siddu', 'shital', 'vrushba']
yes anil 5 ['sacheen', 'anil', 'siddu', 'shital', 'vrushba']
yes siddu 5 ['sacheen', 'anil', 'siddu', 'shital', 'vrushba']
yes shital 5 ['sacheen', 'anil', 'siddu', 'shital', 'vrushba']
yes vrushba 5 ['sacheen', 'anil', 'siddu', 'shital', 'vrushba']
['sacheen', 'anil', 'siddu', 'shital', 'vrushba']

In [35]:
name=["sacheen","anil","siddu","shital","vrushba"]
for x in name:
    v=len(name)
    if v%2==0:
        print("yes",x,v,name)
    else:
        print(" i am odd",x,v,name)
print(name)

 i am odd sacheen 5 ['sacheen', 'anil', 'siddu', 'shital', 'vrushba']
 i am odd anil 5 ['sacheen', 'anil', 'siddu', 'shital', 'vrushba']
 i am odd siddu 5 ['sacheen', 'anil', 'siddu', 'shital', 'vrushba']
 i am odd shital 5 ['sacheen', 'anil', 'siddu', 'shital', 'vrushba']
 i am odd vrushba 5 ['sacheen', 'anil', 'siddu', 'shital', 'vrushba']
['sacheen', 'anil', 'siddu', 'shital', 'vrushba']

In [39]:
name=["sacheen","anil","siddu","shital","vrushba"]
for x in name:
    v=len(x)
    if v%2!=0:
        print("yes",x,v)
        print(x)
    else:
        print(" i am odd",x,v)
        print(x)
print(name)

yes sacheen 7
sacheen
 i am odd anil 4
anil
yes siddu 5
siddu
 i am odd shital 6
shital
yes vrushba 7
vrushba
['sacheen', 'anil', 'siddu', 'shital', 'vrushba']

In [40]:
name=["sacheen","anil","siddu","shital","vrushba"]
for x in name:
    v=len(x)
    if v%2==0:
        print("yes",x,v)
        print(x)
    else:
        print(" i am odd",x,v)
        print(x)
print(name)

 i am odd sacheen 7
sacheen
yes anil 4
anil
 i am odd siddu 5
siddu
yes shital 6
shital
 i am odd vrushba 7
vrushba
['sacheen', 'anil', 'siddu', 'shital', 'vrushba']

In [46]:
hostel=["sarita","divya","mahi","manju","kiran","Arpita","hljk"]
boy=["mahi","manju"]
girl=["divya","Arpita"]

boy_hostel=[]
girl_hostel=[]

for x in hostel:
    for b in boy:
        if x==b:
            boy_hostel.append(x)
    for g in girl:
        if x==g:
            girl_hostel.append(x)
print(boy_hostel)
print(girl_hostel)

['mahi', 'manju']
['divya', 'Arpita']

In [59]:
hostel=["sarita","divya","mahi","manju","kiran","Arpita","hljk"]
boy=["mahi","manju"]
girl=["divya","Arpita"]

boy_hostel=[]
girl_hostel=[]
not_col=[]

for x in hostel:
    for b in boy:
        if x==b:
            boy_hostel.append(x)
    for g in girl:
         if x==g:
            girl_hostel.append(x)

                
print(boy_hostel)
print(girl_hostel)
print(not_col)

['mahi', 'manju']
['divya', 'Arpita']
[]

In [62]:
hostel=["sarita","divya","mahi","manju","kiran","Arpita","hljk"]
boy=["mahi","manju"]
girl=["divya","Arpita"]

boy_hostel=[]
girl_hostel=[]
not_col=[]

for x in hostel:
    print("i am in", x)
    for b in boy:
        if x==b:
            boy_hostel.append(x)
    for g in girl:
         if x==g:
            girl_hostel.append(x)

                
print(boy_hostel)
print(girl_hostel)
print(not_col)

i am in sarita
i am in divya
i am in mahi
i am in manju
i am in kiran
i am in Arpita
i am in hljk
['mahi', 'manju']
['divya', 'Arpita']
[]

In [65]:
hostel=["sarita","divya","mahi","manju","kiran","Arpita","hljk"]
boy=["mahi","manju"]
girl=["divya","Arpita"]

boy_hostel=[]
girl_hostel=[]
not_col=[]

for x in hostel:
    for b in boy:
        ab=len(b)
        if ab%2==0:
            boy_hostel.append(x)
    for g in girl:
        ax=len(g)
        if ax%2==0:
            girl_hostel.append(x)

                
print(boy_hostel)
print(girl_hostel)
print(not_col)

['sarita', 'divya', 'mahi', 'manju', 'kiran', 'Arpita', 'hljk']
['sarita', 'divya', 'mahi', 'manju', 'kiran', 'Arpita', 'hljk']
[]

In [66]:
hostel=["sarita","divya","mahi","manju","kiran","Arpita","hljk"]
boy=["mahi","manju"]
girl=["divya","Arpita"]

boy_hostel=[]
girl_hostel=[]
not_col=[]

for x in hostel:
    for b in boy:
        ab=len(b)
        if ab%2==0:
            boy_hostel.append(x)
            print(x,ab,b)
    for g in girl:
        ax=len(g)
        if ax%2==0:
            girl_hostel.append(x)
            print(x,ax,g)

                
print(boy_hostel)
print(girl_hostel)
print(not_col)

sarita 4 mahi
sarita 6 Arpita
divya 4 mahi
divya 6 Arpita
mahi 4 mahi
mahi 6 Arpita
manju 4 mahi
manju 6 Arpita
kiran 4 mahi
kiran 6 Arpita
Arpita 4 mahi
Arpita 6 Arpita
hljk 4 mahi
hljk 6 Arpita
['sarita', 'divya', 'mahi', 'manju', 'kiran', 'Arpita', 'hljk']
['sarita', 'divya', 'mahi', 'manju', 'kiran', 'Arpita', 'hljk']
[]

In [67]:
hostel=["sarita","divya","mahi","manju","kiran","Arpita","hljk"]
boy=["mahi","manju"]
girl=["divya","Arpita"]

boy_hostel=[]
girl_hostel=[]
not_col=[]

for x in hostel:
    for b in boy:
        if x==b:
            ab=len(b)
            if ab%2==0:
                boy_hostel.append(x)
                print(x,ab,b)
    for g in girl:
        if x==g:
            ax=len(g)
            if ax%2==0:
                girl_hostel.append(x)
                print(x,ax,g)

                
print(boy_hostel)
print(girl_hostel)
print(not_col)

mahi 4 mahi
Arpita 6 Arpita
['mahi']
['Arpita']
[]

In [68]:
hostel=["sarita","divya","mahi","manju","kiran","Arpita","hljk"]
boy=["mahi","manju"]
girl=["divya","Arpita"]

boy_hostel=[]
girl_hostel=[]
not_col=[]

for x in hostel:
    for b in boy:
        ab=len(b)
        if ab%2==0:
            boy_hostel.append(x)
            print(x,ab,b)
    for g in girl:
        ax=len(g)
        if ax%2==0:
            girl_hostel.append(x)
            print(x,ax,g)

                
print(boy_hostel)
print(girl_hostel)
print(not_col)

sarita 4 mahi
sarita 6 Arpita
divya 4 mahi
divya 6 Arpita
mahi 4 mahi
mahi 6 Arpita
manju 4 mahi
manju 6 Arpita
kiran 4 mahi
kiran 6 Arpita
Arpita 4 mahi
Arpita 6 Arpita
hljk 4 mahi
hljk 6 Arpita
['sarita', 'divya', 'mahi', 'manju', 'kiran', 'Arpita', 'hljk']
['sarita', 'divya', 'mahi', 'manju', 'kiran', 'Arpita', 'hljk']
[]

In [75]:
hostel=["sarita","divya","mahi","manju","kiran","Arpita","hljk"]
boy=["mahi","manju"]
girl=["divya","Arpita"]

boy_hostel=[]
girl_hostel=[]
not_col=[]

for x in hostel:
    if x in boy:
        ab=len(x)
        if ab%2==0:
            boy_hostel.append(x)
        else:
            hostel.remove(x)
            print("boys",x)
            not_col.append(x)
    elif x in girl:
        ab=len(x)
        if ab%2==0:
            girl_hostel.append(x)
        else:
            hostel.remove(x)
            print("girls",x)
            not_col.append(x)
    else:
        print("not college")
        not_col.append(x)
                
print(boy_hostel)
print(girl_hostel)
print(not_col)

not college
girls divya
boys manju
not college
[]
['Arpita']
['sarita', 'divya', 'manju', 'hljk']

In [82]:
hostel=["sarita","divya","mahi","manju","kiran","Arpita","hljk"]
boy=["mahi","manju"]
girl=["divya","Arpita"]

boy_hostel=[]
girl_hostel=[]
not_col=[]

for x in hostel:
    if x in boy:
        ab=len(x)
        if ab%2==0:
            boy_hostel.append(x)
        else:
            hostel.remove(x)
            print("boys",x)
            not_col.append(x)
    elif x in girl:
        ab=len(x)
        if ab%2==0:
            girl_hostel.append(x)
        else:
            hostel.remove(x)
            print("girls",x)
            not_col.append(x)
    else:
        print("not college")
        not_col.append(x)
                
print(boy_hostel)
print(girl_hostel)
print(not_col)

not college
girls divya
boys manju
not college
[]
['Arpita']
['sarita', 'divya', 'manju', 'hljk']

In [84]:
name=["keerti","hardik","mahi","meena"]
k=[]
for x in name:
    ab=x[-2:]
    ab1=x[:-2]
    print("me",ab)
    print("jk",ab1)
    nk=ab+ab1
    k.append(nk)
print(k)

me ti
jk keer
me ik
jk hard
me hi
jk ma
me na
jk mee
['tikeer', 'ikhard', 'hima', 'namee']

In [87]:
name=["seema","keerti","meena","sacheen","hardik","mahi"]
for x in name:
    x1=x[2]
    if x1=="e":
        print("i am:",x)

i am: seema
i am: keerti
i am: meena

In [94]:
name=["seema","keerti","meena","sacheen","hardik","mahi"]
for x in name:
    for x1 in x:
            if x1=="e":
                 print("i am:",x)

i am: seema
i am: seema
i am: keerti
i am: keerti
i am: meena
i am: meena
i am: sacheen
i am: sacheen

In [95]:
name=["seema","keerti","meena","sacheen","hardik","mahi"]
for x in name:
    x1=x[-2]
    if x1=="e":
        print("i am:",x)

i am: sacheen

In [97]:
name=["seema","keerti","meena","sacheen","hardik","mahi"]
for x in name:
    x1=x[-1]
    if x1=="i":
        print("i am:",x)

i am: keerti
i am: mahi